
.header {
    background-color: red;
    height: 11vh;
}
.logo {
    color: yellow;
    height: 10vh;
    font-size: 5.5vh;
}

.mi-header {
    height: 10vh;
}

.maxime {
    font-size: 4vh;
    height: 7vh;
}

.category-filter {
    font-size: 3em;
}
.nodisplayindex {
    display: none;
}
.img_product {
height: 20vh;
}
.promo {
    color: red;
    font-weight: bolder;
}
.paspromo {
    border-color: blue;

}
.btn-inscription {
    text-align: center;
}
.vignette {
    margin: 1vh;
    max-height: 45vh;
    height: 80vh;
}

