<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta name="csrf_token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block style %}{% endblock %}

</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="modal" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            $(document).ready(function () {
                $('#myModal').modal('show');
            });
        </script>
    {% endif %}

    <div class="d-flex border rounded-pill header justify-content-between">
        <span class="logo col-2 align-self-center">MERCADONA</span>
        <div class="mi-header col-8 d-flex flex-column align-center" >
            <span class="maxime mx-auto align-self-center" style="color: yellow">
                Tous les vêtements du monde, à prix mini
            </span>
            <div class="align-self-center" style="position: absolute">
                <select class="cat-filter" id="category-filter"
                        style="width: 18vw;height: 4vh;font-size: 3vh; position: relative; top: 6vh">
                    <option value="all">Toutes les catégories</option>
                </select>
                <input class="" type="checkbox" id="sel-promo" style="width: 2vw;height: 3vh;
                font-size: 3vh; position: relative; top: 6vh">
                    <label class="" for="sel-promo" style="color: yellow; height: 3vh; font-size: 3vh;
                            position: relative; top: 5.5vh">
                        Promotions
                    </label>
                </input>
            </div>
        </div>
        <div class="col-2">
            <div id="logged">
                <br>
                <div class="logedd  connect ">
                    <a class="conimg float-right" style="color: black" href="mercadona/logout">Déconnexion</a>
                </div>
            </div>

        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script >
        //suppression lien Déconnexion si utilisateur pas connecté
        var vlogin="{{ vlogin }}";
        if (vlogin !="logged") {
            const divlogged = document.getElementById("logged");
            divlogged.remove()
        }
     </script>
</body>
</html>