{%  extends "base.html" %}

{% block title %}
MERCODONA
{%  endblock %}



{% block style %}
    <link  rel="stylesheet" href="/static/CSS/index.css"
{%  endblock %}

{%  block content %}
    {%  load static %}
    <H1 class="text-center">Vous êtes connecté</H1>
    <br>
    <br>
    <br>
    <br>
    <div class="row justify-content-center">
        <a class="" href="/mercadona" style="font-size: x-large">Catalogue des produits</a>
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <a class="" href="/mercadona/administration" style="font-size: x-large">Administration des produits</a>
    </div>

<script>
if (document.cookie.includes('authenticated=true')) {
  // L'utilisateur est authentifié
  console.log('Utilisateur authentifié');
} else {
  // L'utilisateur n'est pas authentifié
  console.log('Utilisateur non authentifié');
}

</script>
{%  endblock %}